<template>
  <div>
    <div v-if="this.showEditModal">
      <EditModal
        :closeModal="closeModal"
        :editId="this.editId"
        :editName="this.editName"
        :editNumber="this.editNumber"
      />
    </div>
    <div class="container text-center">
      <h2 class="h2">Contact app</h2>
      <img alt="Vue logo" height="140" width="140" src="../assets/logo.png" />
    </div>
    <!--  -->
    <div>
      <header
        class="d-flex justify-content-between p-2 shadow-sm border rounded"
      >
        <div class="d-flex align-items-center">
          <section>
            <img
              class="profile-img"
              src="https://www.iconfinder.com/data/icons/business-and-management-flat-8/24/PROFILE_profile_picture_profile_icon_user_profile-128.png"
              height="50"
              width="50"
              alt=""
            />
          </section>
          <section class="text-muted align-self-start ml-2">
            <strong class="d-block">some_one@gmail.com</strong>
            <div class="d-flex align-items-center">
              <div class="sign-out-link" @click="signoutClicked">sign out</div>
              <div v-if="this.signoutLoader" class="ml-2 small">
                <span class="small">please wait...</span>
              </div>
            </div>
          </section>
        </div>
        <div>
          <router-link to="/settings"><i class="fas fa-cog"></i></router-link>
        </div>
      </header>
    </div>
    <!--  -->
    <div>
      <header class="my-3 shadow-sm p-2 border rounded">
        <form @submit.prevent="handleSubmit">
          <h3>Add new record</h3>
          <div>
            <label for="contact_name" class="w-100 text-left m-0 small"
              >Contact Name</label
            >
            <input
              id="contact_name"
              type="text"
              class="form-control"
              v-model="contactName"
            />
          </div>
          <div>
            <label for="contact_no" class="w-100 text-left m-0 small"
              >Contact Number</label
            >
            <input
              id="contact_no"
              type="number"
              class="form-control"
              v-model="contactNo"
            />
          </div>
          <div class="w-100 text-right">
            <button
              v-if="!this.showAddLoader"
              type="submit"
              class="btn btn-sm btn-primary mt-2"
            >
              <span>add</span>
            </button>
            <!-- loader button -->
            <button
              class="btn btn-sm btn-primary mt-2"
              disabled
              v-if="this.showAddLoader"
            >
              <span
                class="spinner-border"
                style="width: 20px; height: 20px"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </span>
            </button>
            <!-- loader button -->
          </div>
        </form>
      </header>
    </div>
    <!--  -->
    <div>
      <header class="my-3 shadow-sm p-2 border rounded">
        <h3>search contacts</h3>
        <form>
          <div class="">
            <div class="small my-1 d-flex justify-content-between">
              <div>Type here</div>
              <div>
                <span
                  class="small search-selector"
                  v-bind:class="{
                    active: this.searchNumSelectorClicked,
                  }"
                  @click="handleSearchFilterClick('num')"
                  >num</span
                >
                <span
                  class="small search-selector"
                  v-bind:class="{
                    active: this.searchNameSelectorClicked,
                  }"
                  @click="handleSearchFilterClick('name')"
                  >name</span
                >
              </div>
            </div>
            <input
              :type="searchNumSelectorClicked ? 'number' : 'text'"
              id="search-contact"
              class="form-control"
              v-model="searchInput"
              v-on:keydown="handleSearchInputChange"
            />
          </div>
        </form>
      </header>
    </div>
    <!--  -->
    <div class="mb-5">
      <header class="my-3 shadow-sm p-2 border rounded">
        <!-- <ContactCard />
                <ContactCard />
                <ContactCard />
                <ContactCard /> -->
        <div v-for="contact in this.displayContacts" :key="contact.id">
          <ContactCard
            :contact_id="contact.id"
            :contact_name="contact.contact_name"
            :contact_no="contact.contact_no"
            :editClicked="editClicked"
            :deleteClicked="deleteClicked"
          />
        </div>
      </header>
    </div>
  </div>
</template>

<script>
import ContactCard from "../components/ContactCard";
import Toast from "../components/Toast.js";
import EditModal from "../components/EditModal";
import { isAuthorized } from "../utils/checkAuth";

import axios from "axios";
import Vue from "vue";

export default {
  name: "Home",
  components: {
    ContactCard,
    EditModal,
  },
  created() {
    if (!isAuthorized) {
      this.$router.push({ path: "/login" });
      return;
    }
    this.fetchContacts();
  },
  data() {
    return {
      // name and number data
      contactName: "",
      contactNo: "",
      // fetched contact records
      fetchedContacts: [],
      displayContacts: [],
      // show edit modal
      showEditModal: false,
      editId: "",
      editName: "",
      editNumber: "",
      // add contact record loader
      showAddLoader: false,
      // search filter buttons
      searchNameSelectorClicked: true,
      searchNumSelectorClicked: false,
      // search-input
      searchInput: "",
      //
      signoutLoader: false,
    };
  },
  methods: {
    closeModal: function () {
      this.showEditModal = false;
      this.fetchContacts();
    },

    signoutClicked: function () {
      localStorage.removeItem("token");
      this.signoutLoader = true;
      axios
        .get("/api/users/logout")
        .then((res) => {
          this.signoutLoader = false;
          this.$router.push({ path: "/login" });
          console.log(res);
        })
        .catch((err) => {
          this.signoutLoader = false;
          console.log(err);
        });
    },

    handleSearchInputChange: function () {
      console.log(this.searchInput);
      if (this.searchNameSelectorClicked) {
        const modContacts = this.fetchedContacts.filter((contact) => {
          if (contact.contact_name.includes(this.searchInput)) {
            return contact;
          }
        });
        this.displayContacts = modContacts;
      }
      if (this.searchNumSelectorClicked) {
        const modContacts = this.fetchedContacts.filter((contact) => {
          if (contact.contact_no.includes(this.searchInput)) {
            return contact;
          }
        });
        this.displayContacts = modContacts;
      }
    },

    editClicked: function (obj) {
      this.showEditModal = true;
      const { id, name, number } = obj;
      console.log(obj);
      this.editId = id;
      this.editName = name;
      this.editNumber = number;
    },

    deleteClicked: function (obj) {
      console.log(obj);
      const { id, name } = obj;
      const confirm = window.confirm(`Delete contact details of ${name}`);
      if (confirm) {
        // generate deleting toast notification
        Toast({ message: "deleting contact", type: "error" });
        axios
          .delete(`/api/contacts/${id}`)
          .then((res) => {
            console.log(res);
            // erase deleting toast notification
            Vue.$toast.clear();
            this.fetchContacts();
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },

    fetchContacts: function () {
      Toast({ message: "fetching contact records", type: "info" });
      console.log(localStorage.getItem("token"));
      axios
        .get(`/api/contacts`)
        .then((res) => {
          // clearubg toast message
          Vue.$toast.clear();
          console.log(res);
          this.fetchedContacts = res.data.contacts;
          this.displayContacts = res.data.contacts;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    handleSubmit: function () {
      if (!this.contactName.length || !this.contactNo.length) {
        return;
      }
      const formData = {
        contact_name: this.contactName,
        contact_no: this.contactNo,
      };
      // insert toast message
      Toast({ message: "Adding new record", type: "info" });
      // show add button loader
      this.showAddLoader = true;
      axios
        .post(`/api/contacts`, formData)
        .then((res) => {
          console.log(res);
          // remove add loader
          this.showAddLoader = false;
          // show another toast message
          Toast({ message: "Record add success", type: "success" });
          // empty the form fields
          this.contactName = "";
          this.contactNo = "";
          this.fetchContacts();
        })
        .catch((err) => console.log(err));
    },
    handleSearchFilterClick: function (item) {
      if (item === "num") {
        this.searchNameSelectorClicked = false;
        this.searchNumSelectorClicked = true;
      } else {
        this.searchNameSelectorClicked = true;
        this.searchNumSelectorClicked = false;
      }
    },
  },
};
</script>

<style scoped>
.h2 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
}
.profile-img {
  border-radius: 25px;
}
header {
  width: 50%;
  margin: 10px auto;
}
strong {
  font-weight: 500;
}
.search-selector {
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 4px;
}
.search-selector.active {
  background-color: #888;
  color: #eee;
}
.sign-out-link {
  color: royalblue;
  font-size: 13px;
  display: block;
  cursor: pointer;
}
.sign-out-link:hover {
  color: blue;
}

@media only screen and (max-width: 576px) {
  header {
    width: 90%;
  }
}
</style>
