<template>
  <div class="login-container border rounded shadow-sm p-3">
    <div class="d-flex">
      <router-link class="home-link text-muted" to="/"
        ><i class="fas fa-home"></i
      ></router-link>
      <h2 style="flex-grow: 1; text-align: center">Login</h2>
    </div>
    <form @submit.prevent="handleSubmit">
      <div class="my-2">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" v-model="email" />
      </div>
      <div class="my-2">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          v-model="password"
        />
      </div>
      <div class="my-3">
        <!-- <button type="submit" class="btn btn-sm btn-primary">login</button> -->
        <button
          v-if="!this.loginLoader"
          type="submit"
          class="btn btn-sm btn-primary mt-2"
        >
          <span>login</span>
        </button>
        <!-- loader button -->
        <button
          class="btn btn-sm btn-primary mt-2"
          type="button"
          disabled
          v-if="this.loginLoader"
        >
          <span
            class="spinner-border"
            style="width: 20px; height: 20px"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </span>
        </button>
      </div>
    </form>
    <div class="small my-2">
      <span class="mx-1">No Account?</span>
      <router-link to="/signup">create</router-link>
    </div>
    <span class="small forgot-password my-2">forgot password</span>
  </div>
</template>

<script>
import { isAuthorized } from "../utils/checkAuth";
import setAuthHeader from "../utils/setAuth";
import Toast from "../components/Toast";
import axios from "axios";
export default {
  name: "Login",
  created() {
    if (isAuthorized) {
      this.$router.push({ path: "/" });
      return;
    }
  },
  data() {
    return {
      email: "",
      password: "",
      loginLoader: false,
    };
  },
  methods: {
    handleSubmit: function () {
      const formData = new FormData();
      formData.append("email", this.email);
      formData.append("password", this.password);
      this.loginLoader = true;
      axios
        .post("/api/users/login", formData)
        .then((res) => {
          this.loginLoader = false;
          Toast({ message: "login success", type: "success" });
          this.email = "";
          this.password = "";
          setAuthHeader(res.data.token);
          this.$router.replace({ path: "/" });
          console.log(res);
        })
        .catch((err) => {
          this.loginLoader = false;
          if (err.response.status === 404) {
            Toast({ message: "email or passwor invalid", type: "error" });
            return;
          }
        });
    },
  },
};
</script>

<style scoped>
h2 {
  font-weight: 300;
}
label {
  font-weight: 400;
  margin: 0;
  text-align: left;
  width: 100%;
}
.home-link {
  padding: 6px;
  height: fit-content;
  border: solid 1px transparent;
}
.home-link:hover {
  border: solid 1px #eee;
  border-radius: 4px;
}
.login-container {
  width: 50%;
  margin: 20px auto;
}
.forgot-password {
  color: #007bff;
  cursor: pointer;
}
.forgot-password:hover {
  color: blue;
}
@media only screen and (ma-width: 576px) {
  .login-container {
    width: 90%;
  }
}
</style>
