<template>
  <div class="settings-container border shadow-sm rounded">
    <div class="d-flex">
      <router-link to="/">
        <i class="fas fa-arrow-left" style="cursor: pointer"></i
      ></router-link>
      <h2 class="text-center" style="flex-grow: 1; letter-spacing: 2px">
        Settings
      </h2>
    </div>
    <div class="row my-3">
      <div class="col-5 text-left">email</div>
      <div class="col-7 text-left">
        <span>some_email@gmail.com</span>
        <span class="change">change</span>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-5 text-left">password</div>
      <div class="col-7 text-left">
        <span class="font-weight-bold" v-if="this.viewPasswordClicked"
          >asd8798a</span
        >
        <span v-if="!this.viewPasswordClicked" class="">{{
          generateRandomText(8)
        }}</span>
        <span
          v-if="this.viewPasswordClicked"
          class="change"
          @click="handleViewPasswordClick"
          >hide</span
        >
        <span
          v-if="!this.viewPasswordClicked"
          class="change"
          @click="handleViewPasswordClick"
          >view</span
        >
        <span class="change">change</span>
      </div>
    </div>
  </div>
</template>

<script>
import { isAuthorized } from "../utils/checkAuth";
export default {
  name: "Settings",
  created() {
    if (!isAuthorized) {
      this.$router.push("/login");
      return;
    }
  },
  data() {
    return {
      viewPasswordClicked: false,
    };
  },
  methods: {
    handleViewPasswordClick: function () {
      this.viewPasswordClicked = !this.viewPasswordClicked;
    },

    generateRandomText: function (length) {
      var result = "";
      var characters =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      var charactersLength = characters.length;
      for (var i = 0; i < length; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength)
        );
      }
      return result;
    },
  },
};
</script>

<style scoped>
.settings-container {
  width: 50%;
  margin: 20px auto;
  padding: 14px;
}
.change {
  color: royalblue;
  text-decoration: underline;
  font-size: 12px;
  margin-left: 6px;
  cursor: pointer;
}
.change:hover {
  color: blue;
}
@media only screen and (max-width: 576px) {
  .settings-container {
    width: 80%;
  }
}
</style>
