<template>
  <div class="signup-container border rounded shadow-sm p-3">
    <div class="d-flex">
      <router-link class="home-link text-muted" to="/"><i class="fas fa-home"></i></router-link>
      <h2 style="flex-grow: 1; text-align: center">Register</h2>
    </div>
    <form @submit.prevent="handleSubmit">
      <div class="my-2">
        <label for="signup-email">Email</label>
        <input type="email" id="signup-email" class="form-control" v-model="email" />
      </div>
      <div class="my-2">
        <label for="signup-password">Password</label>
        <input type="password" id="signup-password" class="form-control" v-model="password" />
      </div>
      <div class="my-2">
        <!-- <button class="btn btn-sm btn-success">sign up</button> -->
        <button v-if="!this.signupLoader" type="submit" class="btn btn-sm btn-success mt-2">
          <span>sign up</span>
        </button>
        <!-- loader button -->
        <button class="btn btn-sm btn-success mt-2" type="button" disabled v-if="this.signupLoader">
          <span class="spinner-border" style="width: 20px; height: 20px" role="status">
            <span class="sr-only">Loading...</span>
          </span>
        </button>
      </div>
      <div class="small">
        <span class="mx-1">Already have an account?</span>
        <router-link to="/login">log in</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import Toast from '../components/Toast';
import axios from 'axios';
export default {
  name: 'Signup',
  data() {
    return {
      email: '',
      password: '',
      signupLoader: false,
    };
  },
  methods: {
    handleSubmit: function() {
      const formData = new FormData();
      formData.append('email', this.email);
      formData.append('password', this.password);
      this.signupLoader = true;
      axios
        .post('/api/users', formData)
        .then((res) => {
          this.signupLoader = false;
          Toast({ message: 'signup success', type: 'success' });
          console.log(res);
        })
        .catch((err) => {
          this.signupLoader = false;
          Toast({ message: err.response.data.error, type: 'error' });
        });
    },
  },
};
</script>

<style scoped>
h2 {
  font-weight: 300;
}
label {
  font-weight: 400;
  margin: 0;
  text-align: left;
  width: 100%;
}
.home-link {
  padding: 6px;
  height: fit-content;
  border: solid 1px transparent;
}
.home-link:hover {
  border: solid 1px #eee;
  border-radius: 4px;
}
.signup-container {
  width: 50%;
  margin: 20px auto;
}
@media only screen and (ma-width: 576px) {
  .signup-container {
    width: 90%;
  }
}
</style>
