<template>
    <div
        class="contact-container d-flex justify-content-between rounded p-2 text-dark"
        style="font-size: 15px"
    >
        <div class="small">{{ this.contact_name }}</div>
        <div class="small">{{ this.contact_no }}</div>
        <div class="contact-hover-container small">
            <i
                class="fas fa-pen mx-1"
                @click="
                    editClicked({
                        id: contact_id,
                        name: contact_name,
                        number: contact_no
                    })
                "
            ></i>
            <i
                class="fas fa-trash mx-1"
                @click="deleteClicked({ id: contact_id, name: contact_name })"
            ></i>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContactCard",
    props: [
        "contact_id",
        "contact_name",
        "contact_no",
        "editClicked",
        "deleteClicked"
    ]
};
</script>

<style scoped>
.contact-container:hover {
    background-color: rgba(65, 184, 131, 0.3);
    position: relative;
}
.contact-container:hover > .contact-hover-container {
    display: block;
}
.contact-hover-container {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
}
.contact-hover-container i {
    padding: 5px;
}
.contact-hover-container i:hover {
    background-color: #fff;
    border-radius: 3px;
}
</style>
