<template>
  <div class="modal-page-container">
    <div class="modal-container rounded">
      <div>
        <i class="fas fa-times" @click="this.closeModal"></i>
      </div>
      <form @submit="handleUpdateSubmit">
        <h3>Edit</h3>
        <div class="my-2">
          <label class="m-0" for="edit-name">Contact name</label>
          <input type="text" id="edit-name" class="form-control" v-model="name" />
        </div>
        <div class="my-2">
          <label class="m-0" for="edit-number">Contact number</label>
          <input type="number" id="edit-number" class="form-control" v-model="number" />
        </div>
        <div class="my-2">
          <button v-if="!this.updateLoader" class="btn btn-sm btn-primary">
            done
          </button>
          <!-- loader -->
          <button v-if="this.updateLoader" class="btn btn-sm btn-primary" disabled>
            <span class="spinner-border" style="width: 20px; height: 20px;" role="status">
              <span class="sr-only">Loading...</span>
            </span>
          </button>
          <!--  -->
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'EditModal',
  props: ['closeModal', 'editId', 'editName', 'editNumber'],
  methods: {
    handleUpdateSubmit: function(e) {
      e.preventDefault();
      // show update button loader
      this.updateLoader = true;
      axios
        .post(`/api/contacts/${this.editId}`, {
          contact_name: this.name,
          contact_no: this.number,
        })
        .then((res) => {
          console.log(res);
          // remove update button loader
          this.updateLoader = false;
          this.closeModal();
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  data() {
    return {
      // input data
      name: '',
      number: '',
      // loader
      updateLoader: false,
    };
  },
  created() {
    this.name = this.editName;
    this.number = this.editNumber;
  },
};
</script>

<style scoped>
.modal-page-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal-container {
  width: 30vw;
  left: 35vw;
  position: fixed;
  top: 60px;

  background-color: #eee;
  padding: 20px;
}
.modal-container i {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .modal-container {
    width: 90vw;
    left: 5vw;
  }
}
@media only screen and (max-width: 992px) {
  .modal-container {
    width: 60vw;
    left: 20vw;
  }
}
</style>
