<template>
  <div id="app">
    <div class="">
      <!-- <router-link to="/">Home</router-link>
            <router-link to="/login">Login</router-link>
            <router-link to="/signup">Signup</router-link>
            <router-link to="/settings">Settings</router-link> -->
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
// import Home from "./pages/Home";
export default {
  name: 'App',

  components: {},
};
</script>

<style>
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #2c3e50;
}
</style>

<style></style>
